## Задача 4
-  4.1 Сколько в среднем стоят дома, у которых 2 спальни?
-  4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
-  4.3 Как много домов коснулся ремонт?
-  4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

### 4.1

In [1]:
import pandas as pd
df = pd.read_csv('./kc_house_data.csv', sep=',')
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2

In [2]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

### 4.3

In [3]:
df[(df['yr_renovated'] != 0)].shape[0]

914

### 4.4

In [4]:
price_10 = df[df['grade'] > 10]['price'].mean()
price_10

1678635.1175298805

In [5]:
price_4 = df[df['grade'] < 4]['price'].mean()
price_4

189750.0

In [6]:
price_10 - price_4

1488885.1175298805